<div class="center jumbotron">
  <h1>Welcome to SisterWeb</h1>

  <h2>
    Meet Connect Discuss
  </h2>

  <%= link_to "Sign up now!", '/users/new', class: "btn btn-lg btn-primary" %>
   <%= link_to "Already a member!", '#', class: "btn btn-lg btn-primary" %>
</div>
