// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  margin: 0 0 1em;
  padding: 1px;
  background-color: white;
  color: DarkBlue;
  font-size: 3em;
  font-style: bold;
  font-type: helvetica;
}



