!!! 5
%html
  %head
    %title 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %p
    #main-container.container
      .row
        .col-xs-3
          %h1 Sister{Web} 
        .col-xs-9
          %h2 
          
          = yield
          
        